* {
	margin: 0;
	padding: 0;
}
.but {
	font-size: 100px;
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: row;
	a {
		text-decoration: none;
	}
}
header {
	background-color: rgb(13, 173, 126);
	font-size: 100px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.but a {
	width: 10%;
	height: 40px;
	background-color: rgb(236, 236, 236);
	font-family: shrift;
	font-size: large;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.content {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(236, 236, 236);
	height: 300px;
	margin-bottom: 40px;
}
.content img {
	width: 30%;
	height: 300px;
}
.but button:hover {
	cursor: pointer;
}
@font-face {
	font-family: shrift;
	src: url(Jost-VariableFont_wght.ttf);
}

.ChatGPT {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #444444;
	padding: 2px;
	margin-bottom: 2px;
	background-color: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	width: 70%;
	margin-left: 15%;
	padding: 20px;
}
.content3 img {
	width: 60%;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	margin-left: 20%;
	padding: 10px;
}
.ChatGPT h1 {
	margin-bottom: 10px;
	font-size: 23px;
	padding: 20px;
}
.silka {
	a {
		text-decoration: none;
	}
}
.silka2 {
	a {
		text-decoration: none;
	}
}
.silka3 {
	a {
		text-decoration: none;
	}
}
.silka4 {
	a {
		text-decoration: none;
	}
}
.silka5 {
	a {
		text-decoration: none;
	}
}
